body {
	height: 100vh;
	color: #3E4651;
	overflow: hidden;
	background: url("../img/footer_lodyas.png");
}

div {
/*	border: solid red 1px;
*/}

.container {
	width: 90%;
}

.row {
	margin: 0;
}

/* TOP-PANEL */
#top-panel {
	background: #27AE60;
}

#site-header {
	width: 90%;
	margin-left: 5%;
}

#site-title {
	font-weight: bold;
	float: left;
	color: white;
}

.button-collapse {
	font-size: 30px;
	color: white;
	float: right;
}




/* ELEMENT PANEL */
#element-panel {
	background: rgba(0,0,0,0.3);
}

#element-wrapper {
	width: 90%;
	margin-left: 5%;
	padding: 20px 0;
	text-align: center;
}

#element-wrapper .col {
	padding: 20px;
}

.element-symbol {
	text-align: center;	
	font-weight: bolder;
	font-size: 20pt;
	height: 120px;
	width: 120px;
	border-radius: 100%;
	background: #656565;
	color: white;
	border: solid 3px #ecf0f1;
	margin: auto;
	cursor: hand;
}

.element-symbol:hover {
	background: #3498db;	
}

#line {
	position: absolute;
	top: 120px;
	right: 10%;
	z-index: -10;
	height: 2px;
	width: 80%;
	height: auto;
	text-align: center;
}

.element-name {
	font-weight: bolder;
}

.element-details {
	display: none;
	background: #ecf0f1;
}

.element-details:hover {
	background: white;
}

.element-row {
	line-height: 2px;
}

.detail-subhead {
	font-size: 8pt;
}


/* HOVER PANEL */
#hover-panel {
	position: absolute;
	height: 100vh;
	width: 100vw;
	background: rgba(0,0,0,0.6);
	z-index: 100;
	display: none;
}

#hover-panel .card-panel {
	margin-top: 20vh;
	width: 70vw;
	margin-left: 10vw;
	padding: 20px 80px;
	color: #34495E;
}

#or-wrapper {
	text-align: center;
}

.goal-option {
	width: 200px;
	height: 200px;
	border-radius: 100%;
	background: #bdc3c7;
	color: white;
	margin-left: 5px;
	margin: 0 20px;
	cursor: hand;
	font-weight: bolder;
}

.goal-option:hover {
	background: #27AE60;
}

#goal-max {
	float: left;
}

#goal-min {
	float: right;
}


#goal-or {
	height: 200px;
	font-weight: bolder;
}