@font-face {
    font-family: lobster;
    src: url("../font/lobster.otf");
}


body {
	height: 100vh;
	overflow: hidden;
	background: #ecf0f1;
/*	background: url("../img/wood.jpg");
/*	background-size: 100%;
*/}

div {
/*	border: solid 1px red;	
*/}

.container {
	width: 85%;
}

#app-wrapper {
	height: 100vh;
	background: rgba(255,255,255,0.2);
}


/* SUMMARY 
#slide-out {
	padding: 20px;
}

.summary-card {
	background: #2ecc71;
	color: white;
}

.summary-card h6 {
	text-align: center;
	font-size: 14pt;
}

#station-summary {
	background: #27ae60;
}


#month-summary {
	background: #27ae60;
	text-align: center;
}

#goal-summary {
	text-align: center;
}

#export-btn-wrapper {
	text-align: center;
	padding: 20px;
}

#export {
	background: #505050;
	border: none; 
	text-align: center;
}



/* TOP-PANEL */
#top-panel {
	background: url("../img/black_denim.png");
	height: 300px;
}

#site-title {
/*	font-family: lobster;
*/	color: white;
}

.tabs {
  background-color: rgba(0,0,0,0);
}

.tabs .tab a {
    color: #27ae60;
    font-weight: bold;
}

.tabs .tab a:hover {
    color: #2ecc71;
}

.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 1px;
    background-color: #2ecc71;
    will-change: left, right
}



/* BODY PANEL */
#body-panel .card-panel {
	min-height: 550px;
	height: auto;
	margin-top: -230px;
}

.hide-tab {
	display: none;
}



/* TAB 1 */
.form-content label {
	color: #27ae60;
	padding: 5px;
}

.form-content input {
	height: 30px;
	border: solid 1px #bdc3c7;
	border-radius: 5px;
	text-indent: 10px;
	margin: 5px 0;
}

.form-content input:focus {
	border: solid 1px #2ecc71;
	box-shadow: 0 0 3px #2ecc71;
}

.form-content textarea {
	height: 280px;
	border: solid 1px #bdc3c7;
	border-radius: 5px;
	text-indent: 10px;
	margin: 5px 0;
}

.form-content textarea:focus {
	outline: none !important;
	border: solid 1px #2ecc71;
	box-shadow: 0 0 3px #2ecc71;
}

#tab1 button {
	background: #27ae60;
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: none;
	color: white;
	margin: 5px;

}

#goal-wrapper {
	text-align: center;
	margin: 20px auto;
}


/* TAB 2 */
/* STATIONS PANEL */
#station-wrapper {
}

#station-wrapper .s2 {
	text-align: center;
}

.station .card-title {
	color: black;
	font-size: 12pt;
}

.station-element .station {
	text-align: center;
	height: 150px;
}

.station-element .card-reveal {
	padding: 0;
}

.station-element .card-reveal .card-title {
	padding: 5px;
	background: #505050;
	color: white; 
}

.station:hover {
	border: solid 1px #2ecc71;
	box-shadow: 0 0 3px #2ecc71;
}

.station-element-active {
	border: solid 2px #2ecc71;
	box-shadow: 0 0 10px #7f8c8d;
}



/* TAB 3*/
/* ELEMENT PANEL */
#element-panel {
}

#element-wrapper {
	text-align: center;
}

#element-wrapper .col {
	padding: 10px;
}

.element {
	background-color: #565656;
	padding: 10px;
}

.element-symbol {
	font-size: 20pt;
	height: 100px;
	width: 100px;
	border-radius: 100%;
	color: white;
	line-height: 100px;
	background: #95a5a6;
}

.element .card-title {
	font-weight: bold;
	color: white;
}

.element .card-reveal .card-title {
	font-weight: bold;
	color: #505050;
	margin-top: -5px;
}

.element .card-reveal {
	margin-left: -10px;
	line-height: 0pt;
	overflow: hidden;
}

.component-details {
	margin: 5px;
}

.detail-subhead {
	font-size: 8pt;
}

.activeElement {
	box-shadow: 0 0 10px #27ae60;
	background-color: #353535;
}

.activeElement .element-symbol {
	background: #27ae60;
}





/* HOVER PANEL */
#hover-panel {
	position: absolute;
	height: 100vh;
	width: 100vw;
	background: rgba(255,255,255,0.7);
	z-index: 100;
/*	display: none;
*/}

#hover-panel .card-panel {
	background-image: url("../img/pattern.png");
	margin-top: 20vh;
	width: 70vw;	
	margin-left: 10vw;
	padding: 20px 80px;
	color: white;
}

#or-wrapper {
	text-align: center;
}

.goal-option {
	width: 200px;
	height: 200px;
	border-radius: 100%;
	background: #505050;
	color: white;
	margin-left: 5px;
	margin: 0 20px;
	cursor: hand;
	border: none;
}

.goal-option:hover {
	background: #2ecc71;
}

#goal-max {
	float: left;
}

#goal-min {
	float: right;
}

#goal-or {
	height: 200px;
	font-weight: bolder;
}