.container {
	width: 90%;
}

.card-panel {
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
}

div {
/*	border: solid red 1px;
*/}

body {
	height: 100vh;
	color: #3E4651;
	overflow: hidden;
}

.content {
	text-align: justify;
}

/* TOP-PANEL */
#top-panel {
	background: #27AE60;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3)
}

#site-header {
}

#site-title {
	color: white;
	font-weight: bold;
	margin-left: -20px;
}





/* LEFT PANEL */
#left-panel {
	height: 100vh;
}

#table-wrapper {
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3)
	
}

#table-title {
	padding: 20px;
	font-weight: bolder;
	background: #34495E;
	color: white;
	z-index: 200;
}

#table-content {
	padding: 20px;
	display: none;
	background: #ECF0F1;
	line-height: 10pt;
	font-size: 10pt;
}

td {
	min-height: 5px;
}

th {
	color: #34495E;
}




/* LEFT PANEL */
#right-panel {
	padding: 20px;
	height: 100vh;
}




/* HOVER PANEL */
#hover-panel {
	position: absolute;
	height: 100vh;
	width: 100vw;
	background: rgba(0,0,0,0.7);
	z-index: 100;
}

#hover-panel .card-panel {
	margin-top: 20vh;
	width: 70vw;
	margin-left: 10vw;
	padding: 20px 80px;
	color: #34495E;
}

#or-wrapper {
	text-align: center;
}

.goal-option {
	width: 200px;
	height: 200px;
	border-radius: 100%;
	background: #bdc3c7;
	color: white;
	margin-left: 5px;
	margin: 0 20px;
	cursor: hand;
	font-weight: bolder;
}

.goal-option:hover {
	background: #27AE60;
}

#goal-max {
	float: left;
}

#goal-min {
	float: right;
}


#goal-or {
	height: 200px;
	font-weight: bolder;
}