<div class="card hoverable element">

	<div class="card-image">
		<div class="element-symbol waves-effect waves-light"
			 ng-class="{'element-symbol-active': status}"
			 ng-model="status">
			 {{ item.element }}
		</div>
	</div>

	<div class="card-conent">
		<div class="card-title activator section">
			{{ item.name }}		
		</div>
	</div>

	<div class="card-reveal">
		<div class="card-title section">
			{{ item.name }}
		</div>
		<div class="component-details">
			<p class="detail-subhead">Remediation Cost</p>
		  	<p>{{ item.remCost | currency : "P " }}</p>
		  	<p class="detail-subhead">Remediation Amount</p>
			<p>{{ item.remAmt }} mg/L</p>
			<p class="detail-subhead">Min Standard</p>
			<p>{{ item.minStand }} mg/L</p>
			<p class="detail-subhead">Max Standard</p>
			<p>{{ item.maxStand }} mg/L</p>
		</div>

	</div>

</div>