<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/materialize.css"/>
	<link rel="stylesheet" type="text/css" href="css/main.css"/>
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/materialize.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
</head>
<body ng-app="ultimateOptimizer">
<div ng-controller="MainController" class="row" id="app-wrapper">

	<div class="row section" id="top-panel">
		<div class="container">			
			<div class="col s4"> <h5 id="site-title"> {{ title }} </h5> </div>
			<div class="col s8">
				<ul class="tabs">
	        		<li class="tab col s3"><a ng-click="slideTab(0)" href="#tab1">Ultimate Optimizer</a></li>
	        		<li class="tab col s3"><a ng-click="slideTab(1)" class="active" href="#tab2">River Quality Projector</a></li>
	        		<li class="tab col s3"><a ng-click="slideTab(2)" href="#tab3">Element Costing</a></li>
	      		</ul>
			</div>
		</div>
	</div>
	<div id="body-panel" class="container">
		<div class="card-panel tab-content">
			<div id="tab1" class="col s12">Test 1</div>	
		</div>

		<div class="card-panel tab-content hide-tab">
			<div id="tab2" class="col s12">
			  	<!--STATIONS PANEL-->
			  	<div class="row" id="station-panel">
			  		<div id="station-wrapper">
			  			<div class="col s12">
			  				<h5>River Quality Projector</h5>
							<h6 class="grey-text">Please select a River Station to analyze. Select a month of concern. Click export.</h6>
			  				<div class="divider"></div>
							<br>			  				
						</div>

			  			<div class="col s10">
			  				<div class="row">
					  			<div class="col s2 station-element"
					  				 ng-repeat="station in stations.stations">
					  				<stations station="station" 
					  					ng-click="toggleStation($index)"
					  				></stations>
					  			</div>
			  				</div>
			  			</div>

						<div class="col s2">
							<h6 class="grey-text">Month Concern</h6>
			  				<h5>{{ month }}</h5>
			  				<div class="card-content section">
								<a class='dropdown-button btn'
								   href='#'
								   data-activates='dropdown1'>
								   change
								</a>
								<ul id='dropdown1' class='dropdown-content'>
									<li ng-repeat="month in stations.months">
								    	<a href="#!" ng-click="setMonth($index)">
								    		{{ month }}
								    	</a>
							   		</li>
								</ul>
			  				</div>
			  				<div>
			  					<button class="btn" ng-click="exportData()">Export</button>
			  				</div>
						</div>


			  		</div>
				</div>	  	
				

			</div>	
		</div>

		<div class="card-panel tab-content hide-tab">
			<div id="tab2" class="col s12">
			  	<!--ELEMENT PANEL-->
			  	<div class="row" id="element-panel">
			  		<div id="element-wrapper">
						<div class="col s2" ng-repeat="item in components.components" class="item-wrapper">
					  		<components
					  			item="item"
					  			status="componentsStatus[$index]"
					  			>
					  		</components>
				  		</div>
			  		</div>
			  	</div>
			</div>			
		</div>

	</div>

</div>







	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controller/MainController.js"></script>
	<script type="text/javascript" src="js/directives/components.js"></script>
	<script type="text/javascript" src="js/directives/stations.js"></script>

	<script type="text/javascript" src="js/main.js"></script>

</body>
</html>