<!DOCTYPE html>
<html>
<head>
	<title>Ultimate Optimizer</title>
	<link rel="stylesheet" type="text/css" href="css/materialize.css"/>
	<link rel="stylesheet" type="text/css" href="css/main.css"/>
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/materialize.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/controller/MainController.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</head>
<body ng-app="ultimateOptimizer">
<div ng-controller="MainController">

	<!-- Goal Choice Hover -->
	<div class="row" id="hover-panel">
		<div class="row">
			<div class="container">
				<div class="card-panel" id="hover-panel-card">
					<div class="section">			
						<h5>Choose your goal.</h5>
					</div>
					<div class="row center-align section" id="goal-choice-panel">
						<div class="col s5">
							<div class="goal-option" id="goal-min" ng-click="setGoalMIN()">
							<br><br><br><h5>Minimize</h5>	
							</div>
						</div>
						<div class="col s2" id="goal-or">
							<br><br><br><br><p>OR</p>
						</div>
						<div class="col s5">
							<div class="goal-option" id="goal-max" ng-click="setGoalMAX()">	
							<br><br><br><h5>Maximize</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div id="content-wrapper" class="row">

	 	<div id="slide-out" class="side-nav">
			{{stations | json}}
	 	</div>

	  	<!--TOP PANEL-->
  		<div class="row" id="top-panel">
			<div id="site-header" class="col s12">
				<h5 id="site-title">
					Ultimate Optimizer
				</h5>
				<a href="#" data-activates="slide-out" class="button-collapse show-on-large align-right">
		  			<i class="mdi-navigation-menu"></i>
		  		</a>
			</div>	
		</div>

	  	<!--ELEMENT PANEL-->
	  	<div class="row" id="element-panel">
	  		<div class="row" id="element-wrapper">
		  		<div class="col s12" id="line">
		  			<hr noshade>
		  		</div>
		  		<div class="col s2" ng-repeat="item in components.components">
		  			<div class="element-symbol hoverable">
		  				<h5>
		  					<br>{{ item.element }}
						</h5>
		  			</div>
		  			<div class="card-panel hoverable element-details">
		  				<p class="element-name">
		  				{{ item.name }}		  					
		  				</p>
		  				<div class="element-row">
		  					<p class="detail-subhead">Remediation Cost</p>
		  					<p>{{ item.remCost | currency : "P " }}</p>
		  				</div>
		  				<div class="element-row">
		  					<p class="detail-subhead">Remediation Amount</p>
		  					<p>{{ item.remAmt }} mg/L</p>
		  				</div>
		  				<div class="element-row">
		  					<p class="detail-subhead">Min Standard</p>
		  					<p>{{ item.minStand }} mg/L</p>
		  				</div>
		  				<div class="element-row">
		  					<p class="detail-subhead">Max Standard</p>
		  					<p>{{ item.maxStand }} mg/L</p>
		  				</div>
		  			</div>
		  		</div>

	  		</div>
	  	</div>


	  	<!--ELEMENT PANEL-->
	  	<div class="row" id="station-panel">
		</div>	  	


	</div>

</div>
</body>
</html>